html,
body {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
}

.grid {
  display: grid;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 800px;
  width: 800px;
}

.square {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}