html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(193, 190, 190);
}

header {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: center;
  font-size: 50px;
  line-height: 75px;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  max-width: 1450px;
  margin: 0 auto;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
}

.size-value {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input {
  -webkit-appearance: none;
  width: 90%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input:hover {
  opacity: 1;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

input::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

#clearButton {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #9f9f9f;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#clearButton:hover {
  background-color: #1c1c1c;
}

.grid {
  display: grid;
  /* justify-content: center;
  align-content: center; */
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  height: 800px;
  width: 800px;
  border: 1px solid rgb(232, 230, 230);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.square {
  border: 1px solid rgb(232, 230, 230);
  background-color: rgb(255, 255, 255);
}
